@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

main {
    height: auto;
}

footer {
    background-color: #2a4147;
    color: #bdd9C0;
    height: auto;
    text-align: center;
    font-size: 90%;
    bottom: 0;
    width: 100%;
    clear: both; 
}

hr {
    border-top: 2px solid #2a4147;
}

.clear-fix {
    clear: both;
}

/* 404.html Page */
#error {
    height: 800px;
}

/* Headers and Logo */
header {
    padding-bottom: 200px;
}

.menu {
    width: 70%;
    height: 20%;
    float: right;
    color: #2a4147;
}

.menu li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 25%;
}

.menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    display: block;
    padding: 30px;
}

.menu li:hover {
    background-color: #2a4147;
    color: white;
}

.active {
    background-color: #bdd9C0;
    color: #2a4147;
}

h1, h2 {
    font-size: 210%;
    font-family: Heebo, sans-serif;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.logo {
    position: absolute;
    vertical-align: top;
    margin: 30px 0 30px 30px;
    max-width: 300px;
    width: 20%;
    height: auto;
}

/* Hero Image and Cover Text */
#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/rainbow.webp') no-repeat center center;
    background-size: cover;
    /* Animates zoom effect */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates zoom effect of hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Footer */
.info-section {
    padding: 30px;
    width: 33.33%;
}

.info-section a {
    color: white;
    text-decoration: none;
}

.info-section a:hover {
    text-decoration: underline;
}

#left-extra-info {
    float: left;
}

#right-extra-info {
    float: right;
}

#center-extra-info {
    margin: 0 auto;
}

#copyright {
    background-color: #212121;
    padding: 30px;
    color: white;
    height: 20px;
}

.info-section h4 {
    color: white;
    font-family: Heebo, sans-serif;
}

/* About Colour Blindness (Home Page) */
.about {
    margin: 30px 30px 0 50px;
}

.about-info {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 50px;
}

h3 {
    font-size: 150%;
    font-family: Heebo, sans-serif;
    margin-bottom: 20px;
    padding-top: 20px;
}

.about-left-image {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 50px;
}

.about-right-image {
    height: 300px;
    width: 300px;
    float: right;
    margin-left: 50px;
}

.about-center-image {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 50px;
}

/* Types HomePage */
#types-choice {
    text-align: center;
    height: auto;
}

.type-image {
    width: 330px;
    height: 180px;
    padding: 30px;
    transition: transform 2s;
}

.type-image:hover {
    border: 2px solid #2a4147;
    border-radius: 15px;
    transform: scale(1.1);
}

#left-type {
    width: 33%;
    float: left;
    padding-top: 90px;
}

#right-type {
    width: 33%;
    float: right;
    padding-top: 90px;
}

#center-type {
    width: 33%;
    margin: 0 auto;
    padding-top: 90px;
}

/* Colour Blindness Type Pages */
.type-about {
    height: auto;
    margin-bottom: 50px;
}

.type-about-image {
    height: 200px;
    width: 400px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.type-info {
    margin-bottom: 30px;
}

.compare-images {
    width: 100%;
    margin-top: 50px;
    clear: both;
}

.compare-left-image {
    height: auto;
    width: 45%;
    float: left;
}

.compare-right-image {
    height: auto;
    width: 45%;
    float: right;
}

/* Design Page */
#about-design {
    height: auto;
    text-align: center;
}

#design-blurb {
    margin-top: 60px;
    margin-bottom: 60px;
}

#left-design {
    width: 33%;
    float: left;
}

#right-design {
    width: 33%;
    float: right;
}

#center-design {
    width: 33%;
    margin: 0 auto;
}

.design-image {
    height: auto;
    width: 80%;
    max-width: 300px;
}

/* Palette Section in Design Page */
#colour-palettes > h2 {
    margin-bottom: 60px;
}

#regular-palette {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.palette-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.palette-container > figure {
    width: 45%;
}

.palette-image {
    width: 100%;
    height: auto;
    padding-top: 30px;
}

/* Contact Us Page with Form */
.form-section {
    clear: left;
    background: url('../images/formbackground.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

#contact-form {
    margin: 90px 10% 0 0;
    color: #fff;
    background: rgba(21, 21, 21, 0.6);
    max-width: 75%;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

.text-input:hover {
    background: #bdd9c0;
}

#contact-form > h4 {
    padding-top: 30px;
    padding-bottom: 10px;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #bdd9c0;
    color: #2a4147;
    display: block;
}

.submit-button:hover {
    background-color: #2a4147;
    color: #bdd9c0;
}

/* Media Queries for Responsive Design for larger screen sizes (small desktops/large laptops) */
@media screen and (max-width: 1000px) {
    #left-type, #right-type, #center-type {
        width: 100%;
        padding: 30px;
    }

    #about-design p {
        padding: 30px;
    }
}

/* Media Queries for Responsive Design for medium sized screens (tablets and laptops) */
@media screen and (max-width: 750px) {
    .menu {
        width: 100%;
        margin-top: 100px;
    }

    .menu a {
        padding: 20px;
    }

    .logo {
        width: 30%;
        margin-left: calc(50vw - 15%);
    }

    .about-info {
        text-align: center;
    }

    .info-section {
        width: 100%;
        border-bottom: 2px solid #fff;
        padding-top: 20px;
    }

    #right-extra-info, #left-extra-info, #center-extra-info {
        float: none;
    }

    #left-design, #right-design, #center-design {
        width: 100%;
    }

    .design-image {
        width: 50%;
    }

    .type-about-image {
        width: 300px;
        height: 150px;
        float: none;
        margin: 0 auto;
        display: block;
    }

    .about-image {
        margin: 0 auto;
        display: block;
        float: none;
    }
}

/* Media Query for small to medium screens of 500px or less */
@media screen and (max-width: 500px) {
    .menu li {
        width: 50%;
    }

    .about-image {
        height: 200px;
        width: 200px;
    }

    .type-image {
        height: 150px;
        width: 250px;
        padding: 30px;
    }
}

/* Media Queries for Responsive Design for small screen sizes (mobiles) */
@media screen and (max-width: 400px) {
    .logo {
        width: 40%;
        margin-left: calc(50vw - 20%);
    }

    .type-about-image {
        width: 200px;
        height: 100px;
    }
}